<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.camping.dao.Admin_MemberDAO">
<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	
	<!-- 전체 개수 구하기 -->
	<select id="selectCount" resultType="int">
		select count(*) from member
	</select>
	
	<!-- 전체 회원 리스트 가져오기 -->
	<select id="selectByMemberList" parameterType="hashmap" resultType="MemberVO">
<!-- 		select * from member_role where role='user' -->
		select 
 			*
 		from
	 		(select 
	 			rownum rnum, R.*
	 		from
	 			(select m.name, m.id, m.phone, m.email, m.gender, member_role.role 
	 			from MEMBER m full outer join member_role on m.id=member_role.id and not role='admin' order by m.idx DESC) R
<!-- 	 			(select *, member_role.role from member full outer join member_role on member.id=member_role.id and role='user' order by member.idx desc) R -->
	 		where
	 			<![CDATA[
 	 				rownum <= #{endNo} 
 	 			]]> 
			) Q
		where
 			<![CDATA[
  				rnum >= #{startNo} 
  			]]> 
	</select>
	
	 	<!-- 휴먼 회원정보 가져오기 --> 
<!-- 	<select id="selectByDormancyMember" resultType="string"> -->
	
<!-- 		select id from member_role where role='dormancy' -->
<!-- 	</select> -->

</mapper>